<!DOCTYPE html>
<html>
<head>
  <title>Terse</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'raphael', 'sketchpad', 'pusher' %>

  <script type="text/javascript">
  // Create a Pusher server object with your app's key
  var server = new Pusher('e3c543914a4de3990f5a', "private-game-<%=params[:id]%>");

  // Bind to server events
  server.bind('push', function(obj){
    Sketchpad.rx.draw(obj);
  })
  </script>
</head>
<body>

<%= yield %>


<script>
  jQuery(document).ready(function(){
    Sketchpad.initialise('<%=params[:id]%>');
  });
</script>

</body>
</html>
