<!DOCTYPE html>
<html>
<head>
  <title>Terse</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'raphael', 'swfobject', 'FABridge', 'web_socket', 'sketchpad' %>

  <script type="text/javascript">
  jQuery(document).ready(function(){
    web_socket = new WebSocket("ws://localhost:8080/<%= current_user.id %>/<%= params[:id] %>");

    web_socket.trigger = function(event, data){
      var payload = JSON.stringify([event, data]);
      web_socket.send(payload);
    };

    web_socket.onmessage = function(evt) {
      json = JSON.parse(evt.data);

      switch(json[0]){
        case 'playerList':
          populatePlayers(json[1]);
          break;
        case 'playerConnect':
          addPlayer(json[1]);
          break;
        case 'playerDisconnect':
          removePlayer(json[1]);
          break;
        case 'guess':
          jQuery('#guesses').append(jQuery('<div>'+json[1].guess+'</div>'));
          break;
        case 'draw':
          Sketchpad.rx.draw(json[1]);
          break;
        case 'clear':
          Sketchpad.rx.clear();
          break;
      }
    };

    web_socket.onopen = function() {
      // web_socket.send(JSON.stringify({
      //   lobby:        <%= params[:id] %>,
      //   user_id:      <%= session[:user_id] %>,
      //   message_type: 'connect'
      // }));
    };
    web_socket.onclose = function() {
      // web_socket.send(JSON.stringify({
      //   lobby:        <%= params[:id] %>,
      //   user_id:      <%= session[:user_id] %>,
      //   message_type: 'disconnect'
      // }));
    };
  });

  jQuery('#guess_form').live('submit', function() {
    var payload = {
      guess:    jQuery('#guess').val(),
      user_id: <%= current_user.id %>
    }
    web_socket.trigger('guess', payload)
    jQuery('#guess').val("");
    return false;
  });

  function populatePlayers(player_list){
    jQuery('#players').empty();
    jQuery.each(player_list, function(i, player){
      addPlayer(player);
    });
  };

  function addPlayer(player){
    jQuery('#players').append(jQuery('<div class="player" id="player_'+ player.user_id +'">'+ player.user_id +'</div>'))
  };

  function removePlayer(player){
    jQuery('#player_'+player.user_id).remove();
  }
  </script>
</head>
<body>

  <%- if notice.present? %>
    <p class="notice"><%= notice %></p>
  <%- end %>

  <%- if alert.present? %>
    <p class="alert"><%= alert %></p>
  <%- end %>

<header>
  <div id="container">
    <h1><%= link_to 'Terse', 'http://terse.co.uk' %></h1><span>- a game of few words.</span>
  </div>
</header>

<div id="container">
  <%= yield %>
</div>

</body>
</html>
