<!DOCTYPE html>
<html>
<head>
  <title>Terse</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'raphael', 'sketchpad', 'pusher' %>

  <script type="text/javascript">
  // Create a Pusher server object with your app's key
  var websocket = new Pusher('e3c543914a4de3990f5a');
  var channel = websocket.subscribe("presence-game-<%=params[:id]%>")

  // Bind to server events
  websocket.bind('connection_established', function(evt){
    jQuery.ajaxSetup({
      data: { socket_id: evt.socket_id }
    })
  });

  channel.bind('pusher:subscription_succeeded', function(member_list){
    jQuery('#scoreboard').empty();
    jQuery.each(member_list, function(i, member){
      addMember(member);
    });
  });

  channel.bind('pusher:member_added', function(member){
    addMember(member);
  });

  channel.bind('pusher:member_removed', function(member){
    jQuery('#player_'+member.user_id).remove();
  });

  channel.bind('push', function(obj){
    Sketchpad.rx.draw(obj);
  })

  function addMember(member){
    jQuery('#scoreboard').append(jQuery('<div id="player_'+ member.user_id +'">'+ member.user_id +'</div>'))
  };
  </script>
</head>
<body>

<header>
  <h1><%= link_to 'Terse', 'http://terse.co.uk' %></h1><span>- a game of few words.</span>
</header>

<%= yield %>


<script>
  jQuery(document).ready(function(){
    Sketchpad.initialise('<%=params[:id]%>');
  });
</script>

</body>
</html>
